<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body><a>Developed a Restaurant Management System using Spring Boot to streamline order processing, menu management, and table reservations. Implemented RESTful APIs to facilitate seamless communication between the frontend and backend, improving order accuracy and operational efficiency. The system enhanced workflow automation, reducing manual errors and optimizing customer service."</a>
</body>
</html>